{
  "extends": "react-app",
  "rules": {
    "consistent-return": 0,
    "default-case": 1,
    "eqeqeq": 1,
    "no-console": ["warn", { "allow": ["log", "warn", "error"] }],
    "no-debugger": 1,
    "no-dupe-args": 1,
    "no-dupe-keys": 1,
    "no-duplicate-case": 1,
    "no-extra-semi": 1,
    "no-invalid-regexp": 1,
    "no-undef": 1,
    "no-unexpected-multiline": 1,
    "no-unreachable": 1,
    "no-unused-vars": ["warn", { "vars": "all", "args": "after-used", "ignoreRestSiblings": false }],
    "semi":"warn"
  }
}
