.home-container {
  margin: 0 auto;
  min-height: 80%;
  text-align: center;
  overflow: hidden;
  padding: 5% 4%;
  font-family: serif;
  max-width: 70vw;
}

.home-title {
  font-size: 56px;
}

.home-titleSub,
.home-welcome,
.home-getStarted {
  margin: 3vh 0 6vh;
  font-size: 22px;
}

.home-start {
  width: 247px;
  height: 72px;
  background: rgb(43, 120, 192);
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background: lighten(rgb(43, 120, 192), 5%);
    cursor: pointer;
  }

  &:active {
    background: darken(rgb(43, 120, 192), 5%);
  }

  span {
    font-family: Arial, sans-serif;
    color: #fafafa;
    font-size: 27px;
  }
}
