/******

This stylesheet is written in BEM

Block = .block
Element = .block__element
Modifier = .block__element--modifier  OR  .block--modifier

******/

/* Blocks ******************************************************************/

.display-container {
  padding: 10rem 14rem;
  text-align: left;
}

h1,
h2,
h3 {
  margin: 3rem 0;
}

h4 {
  font-weight: 400;
}

.redirect-button {
  width: 100%;
  height: 100%;
  color: rgb(255, 255, 255);
  font-size: 17px;
  font-weight: 600;
  display: table-cell;
  vertical-align: middle;
  font-family: "G-Open Sans-n4", Arial;
  &:hover {
    color: rgb(255, 255, 255) !important;
    border-bottom: 0px;
  }
}

.description-small-font {
  margin-top: 2.5rem;
  font-size: 13;
}

.error-url {
  text-align: center;
  margin: 5rem 0;
  transition: background-color 0.1s ease-in-out;
  background-color: rgb(41, 128, 185);
  width: 174px;
  height: 53px;
  display: table;
  cursor: pointer;
  &:hover {
    background-color: rgb(25, 108, 163);
  }

  &:active {
    background-color: rgb(24, 92, 138);
  }
}

/* Elements ******************************************************************/

/* Modifiers ******************************************************************/
