.test-question-container {
  margin: 3rem 0;
  margin-bottom: 5vh;
}

.test-question-container__line {
  text-align: left;
  width: 100%;
  display: flex;
}

.test-question-container__text {
  padding-left: 4%;
  font-size: 2rem;
  margin: "2vh 0";
}

.test-question-container__button {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 2.2px solid darkgrey;
  color: white;
  background: lightgrey;
  display: table;
  p {
    font-weight: 600;
    display: table-cell;
    font-size: 2rem;
    text-align: center;
    vertical-align: middle;
  }
}

.test-question-container__button--checked {
  transform: scale(1.2);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  background: #555555;
}

.test-question-container__slider {
  padding-left: 5%;
  width: 90%;
  height: 40px;
  display: table;
  div {
    display: table-cell;
    vertical-align: middle;
  }
}

.test-question-buttons {
  display: flex;
  justify-content: space-between;
}
