$mtb-menu-background: rgb(250, 250, 250);
$mtb-shadow: rgba(0, 0, 0, 0.3);
$mtb-menubar-height: 30pt;
$mtb-titlebar-bg: rgb(117, 147, 58);

$mtb-outputpane-bg: rgb(230, 230, 230);
$mtb-outputpane-active: rgb(15, 109, 176);
