@import './constants.scss';

.mtb-dropdown-item {
  list-style: none;
  margin: 0;
  padding: 0px 5pt;
  height: 100%;
  transition: 50ms ease-in-out;
  &:hover {
    background: darken($mtb-menu-background, 5%);
  }
  &:active {
    background: darken($mtb-menu-background, 10%);
  }

  li:not(.mtb-separator) {
    text-align: left;
    padding: 5pt 10pt;
  }

  a {
    display: block;
    padding: 0 10px;
    text-decoration: none;
  }
}

.mtb-dropdown-menu {
  z-index: 1;
  background: #fff;
  list-style: none;
  margin: 0;
  padding: 0px;
  position: absolute;
  min-width: 130pt;
  width: auto;
  box-shadow: 0.5px 0px 0.75px 0.75px $mtb-shadow;

  // Nested dropdowns
  ul {
    padding: 0px;
  }
}

.mtb-separator {
  border-bottom: 1px solid $mtb-shadow;
  margin: 3pt 5%;
  width: 90%;
}

.mtb-dropdown-carat-right,
.mtb-dropdown-carat-down {
  border: solid black;
  position: relative;
  right: 5pt;
  top: -13pt;
  border-width: 0 0.1em 0.1em 0;
  padding: 2pt;
  float: right;
}

.mtb-dropdown-carat-right {
  transform: rotate(-45deg);
}

.mtb-dropdown-carat-down {
  transform: rotate(45deg);
}

.mtb-check {
  a {
    display: inline-block;
  }
  &::before {
    content: '\2713'; // UTF checkmark
    margin-left: -10px;
  }
}
