body {
  margin: 0px;
  background: #fafafa;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
}

.hidden {
  display: none;
}

*:focus {
  outline: none;
}

.main-content {
  & > div {
    min-height: 73vh;
    @media (min-width: 500px) {
      min-height: 80vh;
    }
  }

  overflow-y: auto;
  max-height: 88vh;
}
